body {
    margin          : 0;
    padding         : 0;
    background-color: rgb(251 162 8 / 20%);
}

.todos-main {
    margin          : 100px auto auto auto;
    min-width       : 400px;
    max-width       : 600px;
    background-color: rgb(206 146 167 / 20%);
    border-radius   : 3px; 
    box-shadow      : 0px 20px 15px 5px rgb(171 157 131 / 39%);
    
}

.todos-addTodo {
    display         : flex;
    flex-direction  : column;
    height          : 100px;
}

.todos-addTodo_input {
    min-height      : 50px;
    max-height      : 50px;
    padding         : 5px;
    text-align      : center;
    color           : #525050;
    white-space     : nowrap;
    font-size       : 18px;
    border          : none;
    border-radius   : 3px;
    
    background-color: rgb(226 178 195 / 59%);
}

.todos-addTodo_input:focus {
    background-color: rgb(226 178 195 );
    border          : none;
    outline         : 2px solid rgb(226 178 195 / 40%) ;
}

.todos-addTodo_button {
    height          : 42px;
    width           : 100%;
    margin-left     : auto;
    margin-right    : auto;
    background-color: rgb(226 178 195 / 29%);
    border          : none;
    border-radius   : 3px;
    
    font-size: 16px;
    color           : #525050;
}

.todos-addTodo_button:hover {
    background-color: rgb(226 178 195 );
    outline         : 2px solid rgb(226 178 195);
    border-bottom   : 3px solid rgb(228 150 159);
    box-shadow      : 0px 10px 15px 5px rgb(171 157 131 / 39%);
}

.todos-addTodo_button:active {
    background-color: #ff5050;
}

.todos-addTodo_button:focus {
    border          : none;
    outline         : 2px solid rgb(226 178 195) ;
}   

.todos-elementList-block {
    margin-top      : 60px;
}


.todos-elementList-main {
    margin          : 0;
    padding         : 0;
    list-style      : none;
}

.todos-elementList-main-element {
    display         : flex;
    justify-content : space-between;
    padding         : 5px;
    border-radius   : 3px;
    background-color: rgb(226 178 195 / 59%);
    border-bottom   : 3px solid rgb(226 178 195);
}

.todos-elementList-main-element:active {
    background-color: rgb(226 178 195 );
}


.todos-elementList-main-element-button-edit {
    margin          : 3px; 
    background      : #82ca80;
    border          : 2px solid #82ca80; 
    border-radius   : 50%;
    box-shadow      : 2.5px 2.5px 0 0 rgb(94 33 63 / 59%);
    height          : 15px;
    width           : 10px;
}

.todos-elementList-main-element-button-edit:hover {
    border          : 2px solid #82ba90;
    background      : #82da60;
}

.todos-elementList-main-element-button-edit:active {
    background-color: #82ca80;
}

.activity{
    margin          : 3px; 
    background      : #ebd664;
    border          : 2px solid hsl(59, 47%, 64%); 
    border-radius   : 50%;
    box-shadow      : 2.5px 2.5px 0 0 rgb(94 33 63 / 59%);
    height          : 15px;
    width           : 10px;
}

.activity:hover {
    border          : 2px solid #ebd964;
    background      : #ebc700;
}

.activity:active {
    background-color: #ebd664;
}

.todos-elementList-main-element-button-remove {
    margin          : 3px; 
    background      : #ff5050;
    border          : 2px solid #ff5050; 
    border-radius   : 50%;
    box-shadow      : 2.5px 2.5px 0 0 rgb(94 33 63 / 59%);
    height          : 15px;
    width           : 10px;

}

.todos-elementList-main-element-button-remove:hover {
    border          : 2px solid #ff9090;
    background      : #ff7070;
}

.todos-elementList-main-element-button-remove:active {
    background-color: #ff5050;
}

.todos-elementList-main-element p{
    margin          : 0px;
    padding         : 0;
    text-align      : center;
    width           : 100%;
    color           : #423d34;
    font-size       : 18px;
}
